
@{
    ViewBag.Title = "الـصـفـحـة الـرئـيـسـيـة";
}
<p>
    <a href="/Home/OwnerRestaurantMealsMenu" class="btn btn-primary">
        <span>قـائـمـة الـوجـبـات</span> 
        <img src="~/Content/images/meal_menu.png" height="20"/>
    </a>
</p>
<h2>هنا سيتم عرض طوايل المطعم</h2>
